*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-container {
    margin: 0 auto;
    width: 1200px;
    background-color: darkslateblue;
    color: #fff;
}

.w-6 {
    width: 64px;
    height: 64px;
    stroke: #ffffff;
    background-color: lightslategrey;
    border-radius: 50%;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
}

.home-text {
    font-size: 18px;
}

.balance-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balance-container h2{
    font-size: 24px;
}

.balance-container p {
    color: lightslategrey;
}

.transaction-type {
    background-color: lightsalmon;
}

.transaction-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

@media (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

    .main-container {
        margin: 0 auto;
        width: 1200px;
        background-color: darkslateblue;
        color: #fff;
    }

    .w-6 {
        width: 64px;
        height: 64px;
        stroke: #ffffff;
        background-color: lightslategrey;
        border-radius: 50%;
    }

    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px;
    }

    .home-text {
        font-size: 18px;
    }

    .balance-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .balance-container h2{
        font-size: 24px;
    }

    .balance-container p {
        color: lightslategrey;
    }

    .transaction-type {
        background-color: lightsalmon;
    }

    .transaction-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
    }

    li {
        list-style: none;
    }
}

@media (min-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
    }

    .main-container {
        margin: 0 auto;
        width: 1200px;
        background-color: darkslateblue;
        color: #fff;
    }

    .w-6 {
        width: 64px;
        height: 64px;
        stroke: #ffffff;
        background-color: lightslategrey;
        border-radius: 50%;
    }

    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 64px;
    }

    .home-text {
        font-size: 18px;
    }

    .balance-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .balance-container h2{
        font-size: 24px;
    }

    .balance-container p {
        color: lightslategrey;
    }

    .transaction-type {
        background-color: lightsalmon;
    }

    .transaction-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: #ffffff;
    }

    li {
        list-style: none;
    }
}
